# Data Collection tool for length of stay in hospital

This platform allows collection of length of hospital data for the purposes of data analysis.

In [1]:
# Load the "Pandas" package to import CSV files using the pd.read_csv function
import pandas as pd

los_testdata= pd.read_csv("../Data/LosTest.csv")

In [2]:
# Visualize data imported

los_testdata

    index  LOS  Age    Outcome
0      56    1   11  Discharge
1      72    6   79  Discharge
2      76    7   66  Discharge
3      85   12   90  Discharge
4     147    3   38  Discharge
5     162    2   17  Discharge
6     202    6   69  Discharge
7     204    2   27  Discharge
8     252    4   90      Death
9     275    6   44  Discharge
10    298    3   21  Discharge

In [3]:
# Observing data types with dtypes function from the "pandas" package

data_types = los_testdata.dtypes

print("Variable and data type:")
print(data_types)

Variable and data type:
index       int64
LOS         int64
Age         int64
Outcome    object
dtype: object

In [4]:
# Creating an empty data frame to capture the acquired data using the pd.dataframe function from the "pandas" package

dataframe_to_fill = pd.DataFrame({'Index': [0],# Integer
                   'Lenght of stay': [0], # integer
                   'Age': [0], # Integer
                   'Outcome': ['NA'], # String
                   'Consent': [False]}) # Boolean 

# Observing the outcome of empty data frame creation

dataframe_to_fill

   Index  Lenght of stay  Age Outcome  Consent
0      0               0    0      NA    False

In [7]:
# Saving the empty dataframe

dataframe_to_fill.to_csv('../Data/CollectedDataLOS.csv', index=False)

In [8]:
# Reading the empty dataframe to allow collection of data 

datacollection=pd.read_csv("../Data/CollectedDataLOS.csv")

datacollection

   Index  Lenght of stay  Age  Outcome  Consent
0      0               0    0      NaN    False

In [9]:
# Observing data with head function

los_testdata.head(n=7)

   index  LOS  Age    Outcome
0     56    1   11  Discharge
1     72    6   79  Discharge
2     76    7   66  Discharge
3     85   12   90  Discharge
4    147    3   38  Discharge
5    162    2   17  Discharge
6    202    6   69  Discharge

In [104]:
# Establishing the main index number for the observation

index_number=int(input("Please enter the index number: ")) 
dataframe_to_fill.iloc[0,0]=index_number
dataframe_to_fill

Please enter the index number: 298

   Index  Lenght of stay  Age    Outcome  Consent
0    298               6   44  Discharge     True

# Collection tools

In [3]:
#Load the 'ipywidgets' package providing user-friendly interface to collect data
#Load the 'IPython.display' package to allow visualization of different objects 

import ipywidgets as widgets

from IPython.display import display

 - Consent Variable

In [4]:
# Consent variable is a boolean and data should only be processed if consent is given.
# A checkbox widget is selected for this logical variable to record if consent is achieved.

consent = widgets.Checkbox(
    value=False,
    description='I consent for the data I have provided to be processed and shared in accordance with data protection regulations with the purpose of improving care service provision across the UK.',
    disabled=False
)
display(consent)

Checkbox(value=False, description='I consent for the data I have provided to be processed and shared in accord…

In [105]:
# Observation of data frame output with consent value

dataframe_to_fill.iloc[0,4]=consent.value
dataframe_to_fill

   Index  Lenght of stay  Age    Outcome  Consent
0    298               6   44  Discharge     True

- Length of stay variable

In [5]:
# LOS variable is a numerical integer variable and the IntText widget is adopted to retain the integer of the inputed value.

LOS=widgets.IntText(
    value=0,
    description='Length of stay:',
    disabled=False)
display(LOS)

IntText(value=0, description='Length of stay:')

In [106]:
# Observation of data frame output with LOS value

dataframe_to_fill.iloc[0,1]=LOS.value
dataframe_to_fill

   Index  Lenght of stay  Age    Outcome  Consent
0    298               3   44  Discharge     True

- Age variable

In [6]:
# Age is a numerical integer variable and the IntText widget is used to capture the integer of the inserted value.

Age=widgets.IntText(
    value=0,
    description='Age:',
    disabled=False)
display(Age)

IntText(value=0, description='Age:')

In [107]:
# Observation of data frame output with Age value

dataframe_to_fill.iloc[0,2]=Age.value
dataframe_to_fill

   Index  Lenght of stay  Age    Outcome  Consent
0    298               3   21  Discharge     True

- Outcome variable

In [8]:
# Outcome is a character categorical variable with two possible outcomes

# Unique function from the "pandas" package will allow to create a list of the both outcomes

possible_outcomes=list(los_testdata["Outcome"].unique())
possible_outcomes

['Discharge', 'Death']

In [9]:
# The RadioButtons widget is selected to input the value of the categorical variable Outcome.
Outcome=widgets.RadioButtons(
    options=possible_outcomes,
    description='Outcome:',
    disabled=False
)
display(Outcome)

RadioButtons(description='Outcome:', options=('Discharge', 'Death'), value='Discharge')

In [108]:
dataframe_to_fill.iloc[0,3]=Outcome.value
dataframe_to_fill

   Index  Lenght of stay  Age    Outcome  Consent
0    298               3   21  Discharge     True

# Finalizing data frame

In [109]:
# Concatenating the data frame to fill to datacollection final dataframe using pd.concat function from "pandas" package
datacollection  = pd.concat([datacollection, dataframe_to_fill])
display(datacollection)

   Index  Lenght of stay  Age    Outcome  Consent
0     56               1   11  Discharge     True
0     72               6   79  Discharge     True
0     76               7   66  Discharge     True
0     85              12   90  Discharge     True
0    147               3   38  Discharge     True
0    162               2   17  Discharge     True
0    202               6   69  Discharge     True
0    204               2   27  Discharge     True
0    252               4   90      Death     True
0    275               6   44  Discharge     True
0    298               3   21  Discharge     True

- Consent needs to be given prior to data analysis

In [110]:
# Retaining the observations where the consent was given

datacollection=datacollection[datacollection['Consent'] == True]
display(datacollection)

   Index  Lenght of stay  Age    Outcome  Consent
0     56               1   11  Discharge     True
0     72               6   79  Discharge     True
0     76               7   66  Discharge     True
0     85              12   90  Discharge     True
0    147               3   38  Discharge     True
0    162               2   17  Discharge     True
0    202               6   69  Discharge     True
0    204               2   27  Discharge     True
0    252               4   90      Death     True
0    275               6   44  Discharge     True
0    298               3   21  Discharge     True

# Saving Data frame

In [111]:
# Saving dataframe in CSV format using the .to_csv function from "pandas" package

datacollection.to_csv('../Data/CollectedDataLOS.csv', index=False)

In [112]:
datacollection.to_csv('../RawData/CollectedDataLOSFinal.csv', index=False)

# User interface for data collection tool

In [10]:
form=widgets.VBox([consent,LOS,Age,Outcome])

# Hospital admissions impact on fatality and lenght of hospital stay

Hospital admissions data can provide the foundations for data driven findings that can improve and optimize service provision. To ensure that healthcare sector is well prepared for the challenges that an aging population poses is relevant to understand how long an older patient stays in hospital and explore in hospital fatality per age group.

To maintain the healthcare delivery to high standard we need your length of hospital stay, age and outcome of hospitalization this information will contribute to a better understanding of the actual and future needs of the healthcare service. We would be grateful if you could share your data with us using the form bellow:

In [11]:
display(form)

VBox(children=(Checkbox(value=False, description='I consent for the data I have provided to be processed and s…

Many thanks for sharing your data and consenting for it to be processed and shared.